  
  <% @places.each do |place| %>
  	<div class="row-fluid">
    <div class="placeDiv col-md-10">
    <img class= "placeImg" src ="<%=place.photoURL%>">
      <%= link_to place.title, "/places/#{place.id}" %>
      <div class="right-info">
      	Admission: $<%=place.admission%><br>
      	<%= link_to "DELETE", "/places/#{place.id}/delete" %>
      </div>
    </div>
    </div>
    </br>
  <% end %>