<br>
<div class="row col-md-6 col-md-offset-3">
<form class="form-horizontal" action="/places/create/">
<label>Location title:</label><br>

<input class="form-control" type="text" name="title">
<br><br>
<label>Image URL:</label><br>
<input class="form-control" type="text" name="photoURL">
<br><br>
<label>Description:</label><br>
<input class="form-control" type="text" name="description">
<br><br>
<label>Price:</label><br>
<input class="form-control" type="text" name="admission">
<br><br>
<button class="form-control">Submit</button>
</form>
</div>
