<div class="row-fluid">
<h2><%=@place.title%></h2>
<div class="col-md-4">
<img style="float:left;" class="placeImg" src="<%=@place.photoURL%>">
</div>

<div class="col-md-7">
<%=@place.description%>
</div>

</div>
